<a href="https://colab.research.google.com/github/19PA1A0553/basic/blob/master/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My jupyterNotebook

sumanth

student

This is a italicized text

this code prints the output of two numbers

In [1]:
5+6

11



*   List item
*   List item

1.   List item
2.   List item